In [1]:
import os

import wfdb
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset_loc = "../ptb-xl"
# !ls {dataset_loc}

In [4]:
df = pd.read_csv(os.path.join(dataset_loc, "labeled_df.csv"))
df

,ecg_id,patient_id,age,sex,strat_fold,filename_lr,filename_hr,NORM,MI,STTC,CD,HYP
0,1,15709.0,56.0,1,3,records100/00000/00001_lr,records500/00000/00001_hr,1,0,0,0,0
1,2,13243.0,19.0,0,2,records100/00000/00002_lr,records500/00000/00002_hr,1,0,0,0,0
2,3,20372.0,37.0,1,5,records100/00000/00003_lr,records500/00000/00003_hr,1,0,0,0,0
3,4,17014.0,24.0,0,3,records100/00000/00004_lr,records500/00000/00004_hr,1,0,0,0,0
4,5,17448.0,19.0,1,4,records100/00000/00005_lr,records500/00000/00005_hr,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
21383,21833,17180.0,67.0,1,7,records100/21000/21833_lr,records500/21000/21833_hr,0,0,1,0,0
21384,21834,20703.0,300.0,0,4,records100/21000/21834_lr,records500/21000/21834_hr,1,0,0,0,0
21385,21835,19311.0,59.0,1,2,records100/21000/21835_lr,records500/21000/21835_hr,0,0,1,0,0
21386,21836,8873.0,64.0,1,8,records100/21000/21836_lr,records500/21000/21836_hr,1,0,0,0,0
21387,21837,11744.0,68.0,0,9,records100/21000/21837_lr,records500/21000/21837_hr,1,0,0,0,0

In [6]:
files = dataset_loc + "/" + df["filename_lr"]
files

0        ../ptb-xl/records100/00000/00001_lr
1        ../ptb-xl/records100/00000/00002_lr
2        ../ptb-xl/records100/00000/00003_lr
3        ../ptb-xl/records100/00000/00004_lr
4        ../ptb-xl/records100/00000/00005_lr
                        ...
21383    ../ptb-xl/records100/21000/21833_lr
21384    ../ptb-xl/records100/21000/21834_lr
21385    ../ptb-xl/records100/21000/21835_lr
21386    ../ptb-xl/records100/21000/21836_lr
21387    ../ptb-xl/records100/21000/21837_lr
Name: filename_lr, Length: 21388, dtype: object

In [11]:
def read_record(path):
    signal, metadata = wfdb.rdsamp(path)
    return signal.T.astype(np.float32)

In [13]:
file_storage = [read_record(path) for path in files]

In [14]:
file_stack = np.stack(file_storage)
file_stack.shape

(21388, 12, 1000)

In [17]:
np.savez_compressed(os.path.join(dataset_loc, "100_hz.npz"), file_stack)

In [18]:
import gc
gc.collect()

0